
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div *ngIf="messageLogin">
  <div *ngIf="messages1" class="card">
    <p-messages
      [(value)]="messages1"
      [enableService]="false"
      [closable]="true"
    ></p-messages>
  </div>
</div>
<div style="padding: 20px; border-radius: 12px">
<div data-aos="flip-up">
  <mat-card>
    <mat-card-content>
      <img src={{logoUrl}} width="140" height="120" alt="logo" />&nbsp;
      <!-- <img
        src="../../../assets/images/logoNegro.png"
        width="130"
        height="90"
        alt=""
      /> -->
      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="loginUser" style="margin-top:32px;">
        <mat-form-field appearance="fill">
          <mat-label>Usuario:</mat-label>
          <input matInput formControlName="user" />
          <mat-error *ngIf="loginUser.get('user')?.invalid">
            El usuario es requerido.
          </mat-error>
        </mat-form-field>
        <a routerLink="reset">¿Olvidaste la contraeña?</a>
        <mat-form-field appearance="fill">
          <mat-label>Password:</mat-label>
          <input matInput formControlName="password" />
          <mat-error *ngIf="loginUser.get('password')?.invalid">
            La password es requerida.
          </mat-error>
        </mat-form-field>
        <mat-card-content>
          <button *ngIf="loginUser.valid" mat-raised-button color="primary">
            Enviar
          </button>
        </mat-card-content>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</div>

