<div  *ngFor="let pedido of pedidos; let i = index" class="card flex justify-content-center orders">
    <p-panel header="Fecha Pedido:&nbsp;{{pedido.fechaPedido | date: 'dd-MM-yyyy'}}" [toggleable]="true" [collapsed]="i !== pedidos.length - 1">
        <!-- <p-badge value={{pedido.estadoPedido}} [severity]="pedido.stockStatus"></p-badge> -->
        
        <h3>Estado:<span style="font-weight: bold;">&nbsp;{{pedido.estadoPedido}}</span></h3>
        <h3>Pedido Nº:<span style="font-weight: bold;">&nbsp;{{pedido.orderNumber}}</span></h3>
        <h3>Importe Compra:<span style="font-weight: bold;">&nbsp;{{pedido.salePrice}}&nbsp;€</span></h3>
        <!-- <button class="custom-button" (click)="buyAgain(pedido.products)">Volver a comprar</button> -->
        <app-orders-table
            [products]="pedido.products"
        ></app-orders-table>
        <!-- <button class="custom-button">Volver a comprar</button> -->
    </p-panel>
</div>

