
<div class="card">
  <p-tabView styleClass="tabview-custom">
      <p-tabPanel>
          <ng-template pTemplate="header">
              <i class="pi pi-calendar"></i>
              <span>Añadir gasto</span>
          </ng-template>
          <app-add-gastos></app-add-gastos>
      </p-tabPanel>
      <p-tabPanel header="Header II">
          <ng-template pTemplate="header">
              <i class="pi pi-user"></i>
              <span>Ver gastos</span>
          </ng-template>
          <app-ver-gastos
          [gastos]="gastos"
          ></app-ver-gastos>
      </p-tabPanel>
      <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
            <i class="pi pi-user"></i>
            <span>Gráficos</span>
        </ng-template>
        <app-graficas-gastos
        [gastos]="gastos"
        ></app-graficas-gastos>
    </p-tabPanel>
  </p-tabView>
</div>