.product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card {
    flex: 1 0 23%; /* Ajustar el ancho de las cards para mostrar tantas como entren por fila */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 16px;
  }
  
  .product-image img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-info {
    margin-top: 12px;
    text-align: center;
  }
  
  .product-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .product-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 12px;
  }
  
  .product-price {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
  }
  
  .product-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  
  .product-action button {
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-action button:hover {
    background-color: #007bff;
    color: #fff;
  }
  