<div class="product-card-wrapper">
  <div *ngIf="products; else loading">
    <div *ngFor="let product of products" class="product-card">
      <div class="product-image">
        <img [src]="product.image" alt="Nombre del Producto" />
      </div>
      <div class="product-info">
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">{{ product.precio }}&nbsp;€</p>
        <div class="product-action">
          <button
            class="add-to-cart-btn"
            (click)="addToCart(product)"
            routerLink="/"
          >
            <img
              src="assets/images/cart.png"
              width="35"
              height="40"
              alt=""
            />&nbsp;
          </button>
          <button class="wishlist-btn">
            <span class="material-icons icon-xl" style="color: rgb(255, 0, 0)">favorite</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>