
/* Estilos personalizados para la responsividad de la imagen Primeng */
::ng-deep .p-image img {
  max-width: 100% !important;
  height: auto !important;
}


.like {
  font-size: 1.5rem;
}
.disabled-button {
  opacity: 0.5; /* Cambia la opacidad para indicar que el botón está deshabilitado */
  cursor: not-allowed; /* Cambia el cursor a "no permitido" para indicar que el botón no es interactivo */
}
.card{  
  /* background-color: rgb(219, 224, 224); */
  /* border: 1px solid rgb(115, 113, 113); */
  margin: 15px;
 
}
.card:hover {
  box-shadow: 0 0 10px  rgb(228, 221, 221); /* Aumenta la sombra en el hover */
}
 select{
  font-size: inherit; /* Evita cambios en el tamaño de fuente */
 }
 .agotado-class{
 /* color:brown;
 background-color: blue; */
 filter: blur(0.5px);
 cursor: not-allowed; /* Cambia el cursor a "no permitido" para indicar que el botón no es interactivo */
  
}
.new-products{
  width: 50px;
  position: absolute;
  top: 40%; /* Ajusta la posición vertical según tus necesidades */
  right: 0; /* Ajusta la posición horizontal según tus necesidades */
  z-index: 1; /* Asegura que la imagen nueva esté sobre la imagen principal */
}
