.close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    color: rgb(22, 2, 2);
}
.flex-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    height: 300px; 
    position: absolute;
    border-radius: 12px;
  }
  
  .flex-item {
    flex: 1; /* Esto hace que cada div tome el espacio disponible */
   
   
    margin: 5px; /* Solo para agregar un pequeño espacio entre los divs */
  }
  .flex-item-title {
    color: #0c0b0b; /* Cambia el color de texto del primer hijo */
    font-weight: bold;
    margin: 10px;
    >h6{
        font-size: 14px;
        font-weight: bold;
    }
  }
  .flex-item-body {
    display: flex;
    justify-content: row;
    justify-content: center;
    align-items: center;
    color: #000000; /* Cambia el color de texto del segundo hijo */
    font-style: italic;
    padding: 20px;
   
  }
  .flex-item-body >div >p{
    font-size: 10px;
    color:rgb(74, 96, 235);
    font-weight: bold;
  } 
  .flex-item-data{
    margin: 15px;
    padding: 20px;
    background-color: rgb(231, 224, 224);
    border-radius: 12px;
  }
  .flex-item-data  >p{
    margin:1px;
    display: flex;
    justify-content: center;
    /* background-color: rgb(231, 224, 224); */
  }
  .flex-item-action{
    margin:10px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
  .flex-item-action >button{
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
  }
  .tachado-grueso {
    text-decoration: line-through;
  }
  
  /* Estilos para centrar el párrafo */
  .centrar {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .centered-text {
    text-align: center; /* Centrar el contenido de la sección de Envío */
  }
  .text-h6{
    font-weight: bold; 
    background-color: aliceblue;
    border: 1px solid red;
  }
  .custom-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 12px;
  }
 