<button class="close-button" (click)="closeModal()">X</button>

<div class="flex-container">
  <div class="flex-item-title">
    <h6>Producto añadido correctamente</h6>
  </div>
  <div class="flex-item-body">
    <div><img src="{{ product.image }}" width="55" height="55" alt="" /></div>
    <div>
      <p>{{ product.name }}</p>
    </div>
  </div>
  <div class="flex-item-data">
    <p>Total parcial:<span style="font-weight: bold;">&nbsp;{{ product.precio }}&nbsp;€</span></p>
    <p>Envío<span style="font-weight: bold;">&nbsp;12.00&nbsp;€</span></p>
    <p>Total Impuestos:<span style="font-weight: bold;">&nbsp;78.00&nbsp;€</span></p>
  </div>
  <div class="flex-item-action">
    <button
    (click)="closeModal()">Seguir Comprando</button>
    <button>Cesta</button>
  </div>
</div>
