/* Estilos para pantallas grandes */
.home {
  margin-top: 0;
  /* background-color: black; */
  /* min-height: 81vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.video-container {
  display: flex;
  flex-direction: column; /* Cambiamos la dirección de la columna en dispositivos móviles */
  align-items: center; /* Centramos el contenido verticalmente */
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  /* width: 100%; */
  /* height: 100%;  */
  /* margin-right: 0; */
   /* Eliminamos el margen derecho en dispositivos móviles */
}

.custom-button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 12px;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .video-container {
    height: 50vh; /* ajusta según tus necesidades */
    width: 100vw;
  }

  .custom-button {
    
    display:flex;
    justify-content: center;
    align-items: center;
  }
}
