<div class="home">
  <div class="video-container">
    <video controls autoplay>
      <source
        width="990"
        height="640"
        src="https://video01.alibaba.com/vod-icbu/7c569251818fbca4/BMf6sKeotAd2niDmndW/W9OoiO2SMzZmmbwdetV_323627877100_mp4_264_sd.mp4?w=952&amp;h=540&amp;e=sd&amp;t=2101eea916997059942123880e78b3&amp;b=icbu_video&amp;p=*_icbu_vod_publish&amp;tr=mp4-264-sd"
        type="video/mp4"
      />
      Tu navegador no soporta la reproducción de videos.
    </video>
    <button *ngIf="mostrarBoton" class="custom-button" (click)="navigateList()">Productos</button>
  </div>
</div>
