<div *ngIf="carts.length; else noCarts" class="cart">
  <img src="assets/images/bolsa.png" width="30" height="30" alt="" />&nbsp;
  <p-toast position="top-center"></p-toast>
  
  <div
    *ngFor="let car of carts; let i = index"
    style="
      border: 2px solid rgb(225, 217, 217);
      border-radius: 12px;
      margin-bottom: 6px;
      padding: 15px;
      background-color: white;
    "
  >
    <div class="header">
      <p style="font-weight: bold; color: blue">{{ car.name }}</p>
    </div>
    <div class="content">
      <div class="description">
        <img src="{{ car.image }}" width="55" height="55" alt="" />
      </div>
      <div class="data">
        <h5>Total: {{ getFixed(car.totalPrice) }}&nbsp;€</h5>
        <div class="price-units">
          <h4>
            <span style="font-weight: bold;">{{ car.precio }}</span
            >€
          </h4>
          <div class="unit-controls">
            <button
              (click)="decrementUnits(car, i)"
              style="background-color: red"
            >
              <span style="font-weight: bold">-</span>
            </button>
            <span>{{ car.unidadesCompra }}</span>
            <button
              (click)="incrementUnits(car, i)"
              style="background-color: green"
            >
              <span style="font-weight: bold">+</span>
            </button>
          </div>
          <button (click)="deleteId(car._id)" class="button">
            <img
              src="assets/images/basura.png"
              width="25"
              height="25"
              alt=""
            />&nbsp;
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="total">
    <div>
      <h3 *ngIf="totalWithSend">
       <span style="font-weight: bold; color: white">  Total: {{ getFixed(totalWithSend) }}&nbsp;€</span
        >
      </h3>
      <h3 *ngIf="!totalWithSend">
        Total: <span style="font-weight: bold">{{ getFixed(total) }}</span
        >&nbsp;€
      </h3>

    </div>
    <div>
      <div>
        <!-- <a  (click)="shipment()" class="ov-btn-slide-close">{{messageButton}}</a> -->
        <!-- <button
          (click)="shipment()"
          
          class="ov-btn-slide-right"
          
        >
          <img
            src="assets/images/camion.png"
            width="40"
            height="40"
            alt=""
          />&nbsp;
          Calcula tu envío
        </button> -->
      </div>
      <div *ngIf="showShipment">
        <app-shipment 
            (priceShipment)="priceShipment($event)"
            [total]="total"
        ></app-shipment>
      </div>
    </div>
    <div *ngIf="showPaypal">
      <div>
        <div class="button"
        (click)="buyProducts()"
        >
          <div class="box">C</div>
          <div class="box">O</div>
          <div class="box">M</div>
          <div class="box">P</div>
          <div class="box">R</div>
          <div class="box">A</div>
          <div class="box">R</div>
      </div>
        <!-- <button (click)="buyProducts()"  >Comprar</button> -->
        <!-- <ngx-paypal [config]="payPalConfig"></ngx-paypal> -->
      </div>
    </div>
  </div>
</div>

<ng-template #noCarts>
  <div class="no-products">
    <div>
      <h4 style="font-weight: bold">No hay productos en la cesta</h4>
    </div>
    <div>
      <button (click)="navigateList()" class="custom-button">
        Volver a la tienda
      </button>
    </div>
  </div>
</ng-template>

<div  *ngIf="visible" class="card flex justify-content-center">
  <p-dialog header="" [(visible)]="visible" [style]="{width: '50vw'}">
      <p>
         Compra realizada correctamente.Su número de pedido es: <span style="color:red">{{numberOrder}}</span>
         Puede consultar su estado actualziado <a [routerLink]="['/client/orders']">aquí</a>.
      </p>
  </p-dialog>
</div>


<!-- <div *ngIf="carts">
  <button (click)="delete()">Elimiar Cesta Completa</button>
  <div *ngFor="let cart of carts">
    <p>{{ cart.name }}</p>
    <p>{{cart.description}}</p>
    <p>{{ cart.precio }}</p>
    <button (click)="deleteId(cart.id)">Eliminar</button>
  </div>
</div> -->
