.cart {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Para ocupar todo el alto de la pantalla */
    margin: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0.3, 0, 0, 0.3);
    /* border: 1px solid grey ;*/
    border-radius: 12px; 
}

.header {
    flex: 1; /* Ocupa la mitad del alto disponible */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    flex: 1; /* Ocupa la otra mitad del alto disponible */
    display: flex;
}

.description,
.data {
    flex: 1; /* Cada uno ocupa una proporción del alto de .content */
    display: flex;
    flex-direction: column; /* Acomoda los hijos verticalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    overflow: hidden; /* Para cortar el contenido si es más grande */
}

.description {
    flex-basis: 33.33%; /* Ocupa 1/3 del alto de .content */
}

.data {
    flex-basis: 66.66%; /* Ocupa 2/3 del alto de .content */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.price-units {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.unit-controls {
    display: flex;
    align-items: center;
}

.unit-controls button {
    margin: 0 5px; /* Espaciado entre los botones */
    padding: 5px 10px; /* Ajusta el padding según tus preferencias */
    background-color: #f0f0f0; /* Color de fondo de los botones */
    border: none;
    cursor: pointer;
}

h6 {
    margin: 0;
    padding: 5px;
}

.button {
    border:none;
    /* margin-left: 10px; */
    align-self: center;
    background-color: transparent;
}
