<div *ngIf="carts.length; else noCarts" class="cart">
  <img src="assets/images/bolsa.png" width="30" height="30" alt="" />&nbsp;
  <div
    *ngFor="let car of carts; let i = index"
    style="border: 2px solid rgb(225, 217, 217); border-radius: 12px; margin-bottom: 6px; padding:15px;"
  >
    <div class="header">
      <p style="font-weight: bold; color: blue" >{{ car.name }}</p>
    </div>
    <div class="content">
      <div class="description">
        <img src="{{ car.image }}" width="55" height="55" alt="" />
      </div>
      <div class="data">
        <h5>Total: {{ car.totalPrice }}</h5>
        <div class="price-units">
          <h4><span style="font-weight: bold;">{{ car.precio }}</span>€ u</h4>
          <div class="unit-controls">
            <button (click)="decrementUnits(car, i)">-</button>
            <span>{{ car.unidades }}</span>
            <button (click)="incrementUnits(car, i)">+</button>
          </div>
        </div>
        <button (click)="deleteId(car.id)" class="button">
          <img
            src="assets/images/basura.png"
            width="25"
            height="25"
            alt=""
          />&nbsp;
        </button>
      </div>
    </div>
  </div>
  <div class="total">
    <div>
      <h3>Total: <span class="price-total">{{ total }}</span>&nbsp;€</h3>
    </div>
    <div>
      <!-- <button (click)="pay()">Pagar</button> -->
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
    
    
  </div>
</div>
<ng-template #noCarts>
  <div class="no-products">
    <div>
      <h4 style="font-weight: bold">No hay productos en la cesta</h4>
    </div>
    <div>
      <button (click)="navigateList()" class="custom-button">
        Volver a la tienda
      </button>
    </div>
  </div>
</ng-template>

<!-- <div *ngIf="carts">
  <button (click)="delete()">Elimiar Cesta Completa</button>
  <div *ngFor="let cart of carts">
    <p>{{ cart.name }}</p>
    <p>{{cart.description}}</p>
    <p>{{ cart.precio }}</p>
    <button (click)="deleteId(cart.id)">Eliminar</button>
  </div>
</div> -->
