.body{
    width: 100%;
    min-height: 80%;
    
}
/* Estilos para el botón flotante */
.floating-button {
    position: fixed; /* Esto lo mantendrá en una posición fija en la ventana */
    bottom: 180px; /* Puedes ajustar la distancia desde la parte inferior según tus necesidades */
    right: 15px; /* Puedes ajustar la distancia desde la derecha según tus necesidades */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 50%; /* Esto hará que el botón sea circular */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar una apariencia elevada */
    z-index: 1000; /* Asegúrate de que el botón esté por encima de otros elementos */
  }
  
  .floating-button:hover {
    background-color: #0056b3; /* Cambiar el color de fondo cuando el cursor está encima */
  }
  
  .floating-button-what {
    position: fixed; /* Esto lo mantendrá en una posición fija en la ventana */
    bottom: 100px; /* Puedes ajustar la distancia desde la parte inferior según tus necesidades */
    right: 15px; /* Puedes ajustar la distancia desde la derecha según tus necesidades */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 50%; /* Esto hará que el botón sea circular */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar una apariencia elevada */
    z-index: 1000; /* Asegúrate de que el botón esté por encima de otros elementos */
  }