<div class="card">
    <p-table [value]="products" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Artículo</th>
                <th>Precio</th>
                <th>Unidades</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td><span style="font-weight: bold; color:blue">{{product.productName}}</span></td>
                <!-- <td><img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td> -->
                <td><span style="font-weight: bold; color:blue">{{product.precio | currency:'EUR'}}</span></td>
                <td><span style="font-weight: bold; color:blue">{{product.unidades}}</span></td>
                <!-- <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                <td><p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag></td> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Total  {{products ? products.length : 0 }} productos-.
            </div>
        </ng-template>
    </p-table>
</div>
