
<!-- <mat-form-field appearance="fill">
    <mat-label>Usuario:</mat-label>
    <input matInput formControlName="user" />
    <mat-error>
      El usuario es requerido.
    </mat-error>
  </mat-form-field> -->
  <div style="padding: 20px; border-radius: 12px">
    <div data-aos="flip-up">
      <mat-card>
        <mat-card-content>
          <!-- <img
            src="../../../assets/images/logoNegro.png"
            width="130"
            height="90"
            alt=""
          /> -->
          <img src={{logoUrl}} width="140" height="120" alt="logo" />&nbsp;
          <p> Bienvenido <span style="color:blue">{{userName}}</span><br/> Introduce tu nueva contraseña</p>
          <form novalidate  (ngSubmit)="onSubmit()" [formGroup]="newPassword" style="margin-top:32px;">
            <mat-form-field appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input type="password" matInput formControlName="password" />
              <mat-error >
                Debes introducir una contraseña válida
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput formControlName="confirmPassword" />
                <mat-error >
                  La contraseña no coincide
                </mat-error>
              </mat-form-field>
            <mat-card-content>
                <button 
                  mat-raised-button
                  color="primary">
                  Enviar
                </button>
              </mat-card-content>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
