.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: azure;
   
   
}
.graphics{
    width: 90%;
    
}
.chart{
    min-height: 80vh;
    padding: 35px;
    margin: 20px;
}