<nav class="navbar navbar-expand-md navbar-light bg-transparent prueba">
  <a class="navbar-brand ms-3 me-auto" routerLink="/">
    <img src="assets/images/logo.jpg" width="70" height="50" alt="" />&nbsp;
    <!-- <span class="text-secondary">O&J</span> -->
  </a>

  <button
    class="navbar-toggler ml-auto"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-container">
      <div class="navbar-left">
        <ul class="navbar-nav ms-auto px-3 flex-column flex-md-row">
          <li class="nav-item" routerLinkActive="active">
            <a
              class="nav-link"
              [routerLink]="['/cesta']"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
              >
              <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">{{carts}}</mat-icon> -->
              <!-- <mat-icon matBadge="{{cart}}" matBadgeColor="warn" class="badge"></mat-icon> -->
              <img
                      src="assets/images/bolsa.png"
                      width="25"
                      height="20"
                      alt=""
                    />&nbsp;
              <span class="text-black">&nbsp;{{ carts }}</span></a
            >
          </li>
          <hr />
          <li class="nav-item" routerLinkActive="active">
            <a
              class="nav-link"
              [routerLink]="['/list']"
              data-toggle="collapse"
              data-target=".navbar-collapse.show"
              ><span class="text-black">Productos</span></a
            >
          </li>
          <li class="nav-item" routerLinkActive="active">
            <!-- <a class="nav-link" [routerLink]="['/gsvsin']" data-toggle="collapse" data-target=".navbar-collapse.show"><span class="text-white">Gráficas</span></a> -->
          </li>
          <li class="nav-item" routerLinkActive="active">
            <!-- <a class="nav-link" [routerLink]="['/tareas']" data-toggle="collapse" data-target=".navbar-collapse.show"><span class="text-white">Tareas </span> -->
            <!-- <mat-icon matBadge="{{numeroTareas}}" matBadgeColor="warn" class="badge"></mat-icon> -->
            <!-- </a>         -->
          </li>
          <hr />
          <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/compra']" data-toggle="collapse" data-target=".navbar-collapse.show">Compra</a>
      </li>              -->
        </ul>
      </div>
      <!-- <div class="navbar-right">
        <ul class="navbar-nav ms-auto px-3 flex-column flex-md-row">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/ingresos']"
              ><span class="text-black">Login</span></a
            >
          </li>
          <hr />
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/list']"
              ><span class="text-black">Sigin</span></a
            >
          </li>
     
        </ul>
      </div> -->
    </div>
    <!-- <app-panel-control></app-panel-control> -->
  </div>
</nav>
