<nav class="navbar navbar-expand-md" style="background-color: rgb(37, 42, 42)">
  <div class="container-fluid">
    <!-- rgb(37, 42, 42); -->
    <a class="navbar-brand" [routerLink]="['']">
      <!-- <img src="assets/images/logo.png" width="90" height="90" alt="" />&nbsp; -->
      <img src={{logoUrl}} width="120" height="120" alt="logo" />&nbsp;
    </a>
    <!-- <button 
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    > -->
    <label
      class="hamburger navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="border: none"
    >
      <!-- </button> -->
      <input type="checkbox" />
      <svg viewBox="0 0 32 32">
        <path
          class="line line-top-bottom"
          d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
        ></path>
        <path class="line" d="M7 16 27 16"></path>
      </svg>
    </label>
    <!-- <img
    src="assets/images/hamburguesa.png" width="20" height="20" alt=""
    /> -->
    <!-- </button> -->
    <!-- <a class="navbar-brand" [routerLink]="['']">
      <img src="assets/images/logoGlass.jpg" width="70" height="50" alt="" />&nbsp;
    </a> -->
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item" routerLinkActive="active">
          <a
            class="nav-link"
            [routerLink]="['']"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
            ><span class="text-white" style="font-size: 15px"
              >Home</span
            ></a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a
            class="nav-link"
            [routerLink]="['/list']"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
            ><span class="text-white" style="font-size: 15px"
              >Productos</span
            ></a
          >
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span style="color:white; font-weight: bold; font-size: 15px">Productos</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/list']"
                ><span class="text-black">Quad Lock</span>
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Car Play</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Otros Productos</a></li>
          </ul>
        </li> -->
        <li class="nav-item" routerLinkActive="active">
          <a
            class="nav-link"
            [routerLink]="['/client/account']"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
            ><span class="text-white" style="font-size: 15px"
              >Tu Cuenta</span
            ></a
          >
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span style="color:white; font-size: 15px">Mis pedidos</span>
          </a>
          <ul class="dropdown-menu" style="background-color: black;">
            <li>
              <a class="dropdown-item" [routerLink]="['/client/orders']"
                ><span class="text-white">Historial</span>
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/client/orders']"
                ><span class="text-white">Perfil</span>
              </a>
            </li>
          </ul>
        </li> -->
        <li
          class="nav-item dropdown"
          *ngIf="activeUser && activeUser.data.rol === 'admin'"
        >
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span style="color:white; font-size: 15px"
              >Panel de Control</span
            >
          </a>
          <ul class="dropdown-menu" style="background-color: black;">
            <li>
              <a class="dropdown-item" [routerLink]="['/inventario']"
                ><span class="text-white">Inventario</span>
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/envios']"
                ><span class="text-white">Envíos</span>
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/clients']"
                ><span class="text-white">Clientes</span>
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/ventas']"
                ><span class="text-white">Ventas</span>
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" [routerLink]="['/anadir']"
                ><span class="text-white">Añadir Producto</span>
              </a>
            </li>
            <!-- <li><hr class="dropdown-divider" /></li> -->
            <!-- <li><a class="dropdown-item" href="#">Otros Productos</a></li> -->
          </ul>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <ul
  class="navbar-nav ml-auto my-2 my-lg-0 navbar-nav-scroll"
  style="--bs-scroll-height: 100px"
>
  <ng-container *ngIf="activeUser; else notUser">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/user']"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      > 
        
        <span (click)="logout()" class="text-white" style="font-size: 15px">Cerrar sesión&nbsp;</span>
         
        <span class="text-white">
        
        <p-avatar label={{palabrasAvatar}} styleClass="mr-2" size="large" [style]="{ 'background-color': '#2196F3', color: '#ffffff' }" shape="circle"></p-avatar></span>
      </a>
      
    </li>
  </ng-container>

  <ng-template #notUser>
    <li class="nav-item" routerLinkActive="active">
      <a
        class="nav-link"
        [routerLink]="['/user']"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <!-- <img
          src="assets/images/loginIcon.png"
          width="50"
          height="50"
          alt=""
        />&nbsp; -->
        <span class="text-white" style="font-weight: bold; font-size: 15px">Identificarse</span>
        <!-- <span class="text-black" (click)="logout()">Logout</span> -->
      </a>
    </li>
  </ng-template>
</ul>

    </div>
  </div>
</nav>
