.centered-content {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: rgb(110, 150, 224);
    border-radius: 12px;
    color: white;
}
.albaran{
    border: none;
    background-color: transparent;
}
