<div style="padding: 20px; border-radius: 12px">
<div class="card">
    <p-table [value]="orders" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template pTemplate="caption">
        <div class="centered-content">
          Pedidos
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>N Pedido</th>
          <th>Fecha Pedido</th>
          <th>Cliente</th>
          <th>Estado Pedido</th>
          <th>Etiqueta</th>
          <!-- <th>Observaciones</th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{ order.orderNumber }}</td>
          <td>{{ order.createdAt  | date: 'dd-MM-yyyy'}}</td>
          <td>{{ order.userBuy[0]?.user}}</td>
          <td *ngIf="order.estadoPedido !== 'Cerrado'">{{ order.estadoPedido}}
            <p-checkbox
                [(ngModel)]="order.isChecked" 
                [binary]="true" inputId="binary" 
                (click)="changeState(order._id)">
            </p-checkbox>
          </td>
          <td *ngIf="order.estadoPedido === 'Cerrado'">{{ order.estadoPedido}}</td>
          <td><button class="albaran" (click)="printPdf(order)"><img src="../../../assets/images/albaran.png" style="width: 40px;"></button></td>
          <!-- <td>{{order.statusSend}}</td>           -->
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          In total there are {{ orders ? orders.length : 0 }} Envios.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>