<div
  class="card flex justify-content-center"
  style="padding: 20px; border: none; background-color: rgb(19, 55, 55);"
>
  <div *ngIf="!showRegister; else labelLogin">
    <label style="color:white">Si no tienes cuenta, regístrate</label>
  </div>
  <ng-template #labelLogin>
    <label style="color:white">Si ya tienes cuenta, accede al Login</label>
  </ng-template>
  <p-inputSwitch
    [(ngModel)]="checked"
    (ngModelChange)="register()"
  ></p-inputSwitch>
</div>
<div>
  <div *ngIf="!showRegister; else registerTemplate">
    <app-login></app-login>
  </div>
  <ng-template #registerTemplate>
    <app-register></app-register>
  </ng-template>
</div>
