.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Puedes ajustar esto según tus necesidades */
}

.user-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}

.user-photo {
  width: 100%;
  height: auto;
}

.user-info {
  padding: 20px;
}

.user-name {
  margin: 0 0 10px;
}
